# Системные файлы macOS
.DS_Store
.AppleDouble

# Виртуальное окружение
venv/
.venv/

# Кэш Python
__pycache__/
*.pyc

# Файлы с данными
data/
*.xlsx
*.csv

# Бинарные файлы моделей
*.pkl

# Папки с результатами
output/
models/

# Журналы и временные файлы
*.log
*.tmp

